@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600);
@import url('https://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css');
@import url('http://red-hat-overpass-fonts.s3.amazonaws.com/overpass.css');

@custom-media --taller-and-thinner   (max-aspect-ratio: 4 / 10);

@custom-media --tall-and-thin        (max-aspect-ratio: 1 / 2);

@custom-media --wider-than-a-square  (min-aspect-ratio: 1 / 1);

@custom-media --wide-and-short       (min-aspect-ratio: 2 / 1);

@custom-media --wider-and-shorter    (min-aspect-ratio: 12 / 3);

:root {
  --textColor: #FF3720;
  --backgroundColor: #FFFFFF;
  --lineHeight: 1.1em;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Overpass', 'Helvetica', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
}

p {
  font-size: 1em;
  line-height: 1.8em;
}

.hero {
  padding: 10em 0;
}

section.header {
  content:""; 
  z-index:0;
  width: 100%;
  background-color: #e0e5e7;
  background-image: url(https://s3.amazonaws.com/media-p.slid.es/uploads/team-32/images/1748981/drawing3.svg);
  background-repeat: norepeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 0;
  padding-bottom: 0;
}

section {
  padding-top: 4em;
  padding-bottom: 4em;
  width: 100%;
  position:relative;
}

section:nth-child(3) {
  background-color: #e0e5e7 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

section:nth-child(even):after {
  background-image:url(http://redhatbrand.github.io/RedHatPatterns/positioned-patterns/corporate/grey-light/positioned-08-04-100.svg);
  background-size: contain;
  background-position: 100% 100%;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  top: 0;
  z-index: -100;
  opacity: 0.3;
  bottom: 0;
  background-repeat: no-repeat;
}

section:nth-child(odd) {
  background-color: whitesmoke;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
}

.center-content {
  width: 50%;
  margin: 0 auto;
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
}

@media (max-width: 600px) {
  .center-content {
    width: 90% !important;
  }
}

.sko-logo {
  max-width: 30em;
}

.headline {
  margin-top: 1.5em;
  border-top: 2px solid #333;
}

.headline h1{
  color: #333;
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-weight: 700;
}

.subheading h3, .date h3 {
  color: #333;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-weight: 300;
}

.subheading {
  width: 70%;
}

.subheading h3 {
  color: #555;
}

.date h3 {
  font-style: italic;
  font-size: 1em !important;
}

.hero {
  
}

.cta {
  background-color: #9A9A9A;
  padding: 1em;
  margin: 1em;
  padding: 0.5em 1em;
  margin: 1em 0;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: right;
  color: white;
}

.nav {
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  top: 0;
  margin-top:0em;
  width: 100%;
  z-index:100;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
}

.nav.stickytop {
  position:fixed;
  top:0;
  height: 3.1em;
}

.nav ul {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.nav li {
  display: inline-block;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  padding: 0.9em;
}

.nav li a {
  text-decoration: none;
  color: #333;
  padding: 0.9em 0;
}


.nav li {
    margin: 0 !important;
}

.mobilenav ul {
    margin: 5em 0 0 0 !important;
}


.nav li a:hover {
  border-bottom: 3px solid #08a8e5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.stickytop {
  background-color: white;
  border-bottom: 1px solid #efefef;
  height: 4em;
}

.headroom {
  transition: transform 200ms linear;
}
 
.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-200%);
}

text {
  fill: #333;
}

.text-image {
  color: white;
}

.logo a{
  border: none !important;
}

.red-hat-logo{
  width: 4em;
  vertical-align: middle;
}

.fixed {
  position: fixed;
  margin: 0.7em 1em;
  right: 0;
  top: 0;
  z-index: 999;
  width: 5.5em;
}

.speakers-container {
  display: inline-block;
  margin: .5em;
  position:relative;
  cursor: pointer;
}

/*.speakers-list {
  display: inline-block;
  margin: .5em;
  position:relative;
  border-radius: 0.3em;
  cursor: pointer;
}*/

.speakers-list:hover .speaker-img {
  opacity: 0.5;
}

.speakers-list a {
  text-decoration: none !important;
  color: white;
  font-size: 1em;
  text-align: center;
  position:absolute;
  bottom: 0;
  left: 0;
  width:100%;
  display:block;
  background-color: rgba(51, 51, 51, 0.8);
  padding: 0.5em 0em 0.3em 0;
}

.speaker-img {
  width: 10em;
  height: 13em;
  background-size: cover;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-position-x: 50%;
}

footer {
  background-color: #111;
  padding: 3em;
}

.copy {
  color: white;
  font-size: 0.8em;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.show {
  display: block !important;
}

@media (max-width: 600px) {
  .container { width: 90% !important; }
}

/*HAMBURGLER NAV STYLES*/

*{   -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.top-animate {
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mid-animate {
    opacity: 0;
}
.bottom-animate {
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}
.top-menu {
    top: 5px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.mid-menu {
    top: 13px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.bottom-menu {
    top: 21px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.menui {
    background: #333;
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    margin-top: 10px;
    position: absolute;
    margin-left: 4px;
}


.icon {
    background-color: rgba(255,255,255, 0.9) !important;
    z-index: 998;
    position: fixed;
    display: none;
    padding: 9px;
    height: 32px;
    width: 100%;
    margin: 0px;
    top: 0;
    left: 0;
}

.mobilenav {
    font-family: inherit;
    top: 0;
    left:0;
    z-index: 997;
    display: none;
    position: fixed;
    width: 100%;
    height: 100% !important;
    background: rgba(224,229,231, 0.9) !important;
    background: #E0E5E7;
    transform: translateY(0%) !important;
}
.mobilenav li {
    list-style-type: none;
    text-align: left;
    margin-left: 1em;
    padding: 10px;
    display: block;
}
.mobilenav li a {
    font-size: 150%;
    color: #333;
    text-decoration: none;
    font-weight: 300;

    width: 100%;
}
.mobilenav li:first-child {
    margin-top: 60px;
}

.mobilenav li a:hover {
  padding-bottom: 0.2em;
}

/* AGENDA */

.agenda .row {
  padding: 1.5em 1em;
  border-top: 1px solid #E4E4E4;
}

.agenda-day:not(:last-child) {
  margin-bottom: 4em;
}

.row.break + .row, .row.lunch + .row  {
  border-top: none;
}

.agenda .break, .agenda .lunch {
  opacity: 0.8;
  background-color: rgba(245,245,245, 1);
  color: #949494;
  border-top: none;
}

.agenda .day-header {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #333;
  margin-bottom: 1em;
}
.row .time {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
}

.row .agenda-details {
  display: inline-block;
  width: 75%;
  vertical-align: middle;
}

.agenda-details .talk-topic {
  font-size: 1.1em;
  margin-bottom: 0.2em;
  font-weight: 700;
}

/* MODAL */

.remodal-overlay {
  background: rgba(224,229,231, 0.7) !important;
  background: #E0E5E7;
}

.remodal h1 {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
}

.modal-left {
  float: left;
}

.modal-title {
  text-align: left;
  padding-right: 1em;
}

.modal-title h4 {
  margin: 1em 0 0.5em 0;
  border-bottom: 1px solid #333;
  padding-bottom: 0.5em;
  color: #A5A5A5;
}

.modal-title h3 {
  margin-top: 0;
}

.modal-img {
  width: 10em;
  height: 13em;
  display: block;
  background-size: cover;
  background-position: 50%;
  margin-top: 1em;
  margin-right: 1em;
  border-radius: 0.2em;
}

.modal-content {
  text-align: left;
  overflow: scroll;
  height: 25em;
}

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;
  touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;

  transform: translate3d(0, 0, 0);

  color: #2b2e38;
  box-shadow: 0px 17px 40px 0px rgba(0,0,0,0.12);
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;

  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 35px;

  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 12px 0;

  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* Keyframes
   ========================================================================== */

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    transform: none;

    opacity: 1;
  }
}

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);

    opacity: 1;
  }
  to {
    transform: scale(0.95);

    opacity: 0;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}






